

input[type=text]

{
    background-color: #BFBDBD;
    border:solid 1px #BFBDBD;
    color: #979797;
    height: 28px;
    padding-left:10px;
    width: 191px;
    box-shadow: 2px 2px 0 #828181 inset;
}
input[type=button]
{
    background-color: #1E1E1E;
    color: #979797;
    height: 24px;
    width: 103px;
    text-transform:uppercase;
    box-shadow:-1px 2px #6E6B6A inset;
    display: none;
}

input[type=button], input[type=text]
{
    border: 0;
    border-radius:5px;
    font-family: Sansation,Arial;
    display: none;
}

body {
    background-color: white;
}

div { 
    width: 1000px;
    margin: auto;

}

#submit-it	{
	width: 200px;
	margin-top: 100px;
	height: 200px;
    text-align: center;

}
header  {
    background-color: lightgreen;
    width: 1000px;
    height: 100px;
    margin-bottom: 30px;
    text-align: center;
	vertical-align: middle;
	line-height: 100px;    	
    font-style: italic;
   
}
section  {
    background-color: violet;
    width: 600px;
    height: 400px;
    float: left;
}
aside {
    background-color: lightgray;
    width: 380px;
    margin: auto;
    height: 400px;
    float: right;

}
 
footer {
    background-color: lightgreen;
    width: 1000px;
    height: 100px;
    margin-top: 460px;
    text-align: center;
	vertical-align: middle;
	line-height: 100px;    
}

.scroll-right {
 height: 50px;  
 overflow: hidden;
 position: relative;
 background: yellow;
 color: orange;
 border: 1px solid orange;
}
.scroll-right p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(-100%);
 -webkit-transform:translateX(-100%);   
 transform:translateX(-100%);
 /* Apply animation to this element */  
 -moz-animation: scroll-right 15s linear infinite;
 -webkit-animation: scroll-right 15s linear infinite;
 animation: scroll-right 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-right {
 0%   { -moz-transform: translateX(-100%); }
 100% { -moz-transform: translateX(100%); }
}
@-webkit-keyframes scroll-right {
 0%   { -webkit-transform: translateX(-100%); }
 100% { -webkit-transform: translateX(100%); }
}
@keyframes scroll-right {
 0%   { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%);      
 }
 100% { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 
 }
}





